/* primary
- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)
 */

/* secondary
    Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: 
Very dark blue: hsl(240, 100%, 5%)
 */

:root {
  --bar-width: 50px;
  --bar-height: 6px;
  --bar-gap: 0.3rem;
  --animation-time: 200ms ease-in-out;
  --hamburger-height: calc((var(--bar-height) * 3) + (var(--bar-gap) * 2));
}

body {
  font-family: "Inter";
  margin: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  height: 5vh;
}

.nav-links-container {
  display: none;
  align-items: center;
  gap: 2.5rem;
}

.nav-item {
  opacity: 50%;
}

.nav-item:hover {
  color: hsl(5, 85%, 63%);
  opacity: 100%;
  cursor: pointer;
}

.grid-container {
  margin-top: 1rem;
}

.read-more {
  background-color: hsl(5, 85%, 63%);
  border: 0;
  color: white;
  letter-spacing: 2px;
  padding: 0.65rem 2rem;
  border-radius: 9999px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* hamburger menu */

.hamburger-menu {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  align-self: center;
  flex-direction: column;
  gap: var(--bar-gap);
  z-index: 2;
  width: max-content;
  cursor: pointer;
  padding-top: 0.75rem;
}

.hamburger-menu::after,
.hamburger-menu::before,
.hamburger-menu input {
  content: "";
  background-color: black;
  width: var(--bar-width);
  height: var(--bar-height);
  border-radius: 50px;
  transition: width var(--animation-time), opacity var(--animation-time),
    rotate var(--animation-time), translate var(--animation-time);
  transform-origin: left center;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu input:checked {
  opacity: 0%;
  width: 0;
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: calc(var(--hamburger-height) * 1.41);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: calc(var(--hamburger-height) * 1.41);
  translate: 0 calc(var(--bar-height) / -2);
}

.sidebar {
  transition: translate var(--animation-time);
  translate: 150%;
  margin-top: calc(var(--hamburger-height) + -0.5rem);
  width: 50vw;
  height: 100vh;
  padding: 0.65rem 2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0%;
}

.side-menu {
  display: block;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-weight: 500;
  padding-top: 5rem;
}

.sidebar-items:hover {
  color: hsl(5, 85%, 63%);
  opacity: 100%;
  cursor: pointer;
}

#web3 {
  min-height: 40vh;
  max-width: 80vw;
}

.text-item:first-of-type {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 2rem;
}

.text-item:nth-child(2) {
  opacity: 50%;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.web3-image-container {
  margin-top: 2.5rem;
  width: 85vw;
}

.web3-image {
  margin: auto;
  width: 100%;
}

#web3-main-text {
  color: hsl(240, 100%, 5%);
  font-size: 2rem;
  font-weight: 800;
}

#main-text {
  display: block;
  color: hsl(236, 13%, 42%);
  line-height: 1.5rem;
  font-size: 0.95rem;
}

.read-more-button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  padding: 0.8rem 2rem;
  border: 0;
  letter-spacing: 0.3rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.main-content-items:nth-child(3) {
  margin-top: 0.5rem;
}

.article-section {
  background-color: hsl(240, 100%, 5%);
  color: white;
}

@media (min-width: 750px) {
  .nav-links-container {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .side-menu {
    display: none;
  }
}
